@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
}

.theme-entry label.input-label {
  display: block!important;
  color: #000000;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: .5px;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.watermark,
.theme-entry .input-control-watermark {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox,
.theme-entry input[type=text].input-control,
.theme-entry input[type=password].input-control {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.theme-entry .input-control.watermark a.input-control,
.theme-entry .input-control.watermark a.input-control span {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.theme-entry span {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.theme-entry .tab-box ul.tab-box-tabs a.tab .tab-text {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body.theme-entry,
.theme-entry div,
.theme-entry span,
.theme-entry td,
.theme-entry li,
.theme-entry p,
.theme-entry textarea,
.theme-entry input[type=text],
.theme-entry input.text,
.theme-entry select,
.theme-entry option,
.theme-entry label.input-control .input-control-text,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.watermark,
.theme-entry .input-control-watermark,
.theme-entry .Hyperlink,
.theme-entry .Hyperlink-NotSet {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
